[build]
builder = "RAILPACK"

[deploy]
startCommand = "gunicorn sabrlingua.wsgi --log-file - --timeout 300 --workers 4"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
PYTHONUNBUFFERED = "1"
