amqp==5.3.1
anyio==4.12.1
asgiref==3.8.1
billiard==4.2.4
celery==5.6.3
certifi==2026.1.4
charset-normalizer==3.4.3
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
dj-database-url==3.0.1
Django==5.2
django-anymail==13.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-filter==25.2
django-user-agents==0.4.0
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
httpx==0.28.1
idna==3.10
kombu==5.6.2
moyasar==0.6.5
numpy==2.4.4
openai==2.17.0
openai-whisper==20250625
packaging==25.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==11.2.1
psycopg2-binary==2.9.10
pydantic==2.12.5
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1
redis==7.4.0
regex==2026.4.4
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
static_ffmpeg==3.0
tiktoken==0.12.0
torch==2.11.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.6.3
user-agents==2.2.0
vine==5.1.0
whitenoise==6.9.0
reportlab==4.4.10